@{
    ViewBag.Title = "Contacto";
}
<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>

    ESCUELA POLITÉCNICA NACIONAL<br /><br />

    <address>
        <strong>Katerin Oña</strong> (<a href="mailto:katerin.ona@epn.edu.ec">katerin.ona@epn.edu.ec</a>)<br />
        <strong>Marcelo Placencia</strong> (<a href="mailto:marcelo.placencia@epn.edu.ec">marcelo.placencia@epn.edu.ec</a>)
    </address>
</main>