@{
    ViewBag.Title = "Inicio";
}

<main>
    <section class="row" aria-labelledby="aspnetTitle">
        <h1 id="title">Football App</h1>
        <p class="lead">Comenzar por dirigirse a uno de los botones en la barra de navegación superior!</p>
    </section>
</main>